.card-top{
    position:relative;
    display: flex;
    flex-direction:column;
    min-width:0;
    background-color:#17A2B8;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,0.2);
    border-radius: 0rem;
    margin-bottom:20px;
    margin-top:0px;

}

.item img{
    width:64px;
}

.item{
margin:0px 15px;
text-align:center;
}

.card{
    padding-block-end: 10px;
    padding-inline-start: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-top: 10px;
}